body {
    font-family: Arial, sans-serif;
    background-image: url(/img/fundogreencicle.jpg);
    background-size:100%;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 310px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
    margin-top: -10%;
    color: #fff;
    background-color: #166d0aa2;
    border-radius: 30px;
}
h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    color: #fff;
    
    
}


label {
    font-weight: bold;
    display: block;
}

input[type="text"], input[type="email"], input[type="password"],input[type="tel"],input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgb(81, 245, 6);
    border-radius: 4px;
}

input[type="submit"] {
    width: 98%;
    height: 40spx;
    background-color: rgb(81, 245, 6);
    color: rgb(7, 90, 14);
    padding: 8px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
input[type="text"]:hover, input[type="password"]:hover,input[type="email"]:hoverinput,[type="tel"]:hover,input[type="date"]:hover {
    background-color: transparent;
    border: solid 2px rgb(81, 245, 6);
    color: grey;
}

input[type="submit"]:hover {
    background-color: rgb(81, 245, 6);
}
input[type="submit"]:hover {
    background-color: transparent;
    border: solid 2px rgb(81, 245, 6);
    color: grey;
}
nav{
    background-color: rgba(82, 245, 6, 0.527);
    height: 50px;
    align-items: center;
    padding: 10px;
    margin-bottom: 10%;
    width: 100%;
    display: flex;
    color: #fff;
    text-align: center;
}
nav h1 {
    left: 33%   ;
    font-size: 190%;
    text-decoration: underline;
    max-width: 310px;
    margin: 0 auto;
}
.back{
    max-width: 310px;
    margin: 0 auto;
    width: 50px;
    height: 50px;
   margin-bottom: 15%;   
   margin-left: 10px; 
}

.back2{
    max-width: 310px;
    margin: 0 auto;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    left: 1800%;    
}