<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu a senha</title>
	<link rel="stylesheet" href="/folhasenha.css">
</head>
<nav>
    <a href="/greencicle/usuario/home"><img class="back" src="/img/back-button.png" alt=""></a>
    <h1>Green Cicle</h1>
    <a href="/greencicle/usuario/login"><img class="back2" src=" /img/icons8-logout-50.png" alt=""></a>

</nav>
<body>
   
    
    <div class="container-esqueceu">
        <h2>Esqueceu a senha</h2>
        <p>Informe o seu endereço de e-mail e nós enviaremos um link de redefinição de senha para você.</p>
        <form th:action="@{/greencicle/usuario/add-usuario}" th:object="${usuario}" method="post">
            <input type="email" name="email" placeholder="Seu endereço de e-mail" required>
            <br>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>